.DS_Store
._*
.vscode/
__pycache__/
APPLE/
Microsoft/
Boot/
BOOT/
Dell/
Manjaro/
*.aml
ACPI/iasl
macserial
CLOVER/*
!CLOVER/config.plist
OC/*
BOOT/*
!OC/config.plist
*.kext
!Kexts/*
!PostInstall/*/*.kext
Clover_Install_Log.txt
test.py
tmp
Builds
Kexts/.DS_Store
